/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/.indexes/e4/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/org.eclipse.jdt.core/
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.resources/.snap
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
/.metadata/.plugins/org.eclipse.jdt.core/1044273339.index
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.team.cvs.core/.running
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/.DS_Store
/.metadata/.log
/.metadata/.plugins/org.eclipse.core.resources/.history/2e/
/.metadata/.plugins/org.eclipse.core.resources/.history/56/
/.metadata/.plugins/org.eclipse.core.resources/.history/6/
/.metadata/.plugins/org.eclipse.core.resources/.history/78/
/.metadata/.plugins/org.eclipse.core.resources/.history/f1/
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload1.csv
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/CitationsToHTML/.DS_Store
/.metadata/.plugins/org.eclipse.core.resources/.history/38/401320c752ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/af/703803d552ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/c2/d0b101d552ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/d8/403befd452ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
/demo-style.css
/dummy-images/
/old
/demo.html
/.metadata/.plugins/org.eclipse.core.resources/.history/27/e0a28c3c5aac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/28/6065321558ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/2a/90ac10a455ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/2d/503135bf58ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/33/30e5b31d56ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/34/3033239e59ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/3e/704058f557ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/3e/e0094a2c5aac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/44/e03a000d56ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/47/808e0edb58ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/49/80c3c50f56ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/4b/40a3af1f58ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/4c/301fb3d258ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/54/90be07b752ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/57/d0a797325aac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/58/10f1fad957ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/59/009ce29654ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/59/402b03bc58ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/5a/10c3a79153ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/63/f0444f7d59ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/67/307c391556ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/68/9070c5ba57ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/69/e0a523435aac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/6b/20d382a657ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/79/702c4e2b54ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/8c/505bc9315aac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/95/80d5193a57ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/97/b026ddee53ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/98/70c8f39755ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/9f/80e90b9159ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/a1/f03bd77758ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/a2/e080c6e557ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/a3/d0dd1fa754ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/aa/102f683f5bac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/b2/2033e84859ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/b6/d0a3110f58ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/c4/e00a9d1554ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/c7/00d4149b54ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/d7/7095ad7c53ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/d8/002c3ef253ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/da/50b1b5c655ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/e3/c0b5fcdf53ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/f5/909b0dd457ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/f8/10bdffb555ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/fe/b03f1f3058ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/ff/f00ac2bb55ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/.indexes/af/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
/.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
/.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
/.metadata/.plugins/org.eclipse.jdt.core/156905802.index
/.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
/.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
/.metadata/.plugins/org.eclipse.jdt.core/2326659272.index
/.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
/.metadata/.plugins/org.eclipse.jdt.core/272178059.index
/.metadata/.plugins/org.eclipse.jdt.core/3000285004.index
/.metadata/.plugins/org.eclipse.jdt.core/3004609673.index
/.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
/.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
/.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
/.metadata/.plugins/org.eclipse.jdt.core/3569674952.index
/.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
/.metadata/.plugins/org.eclipse.jdt.core/3954040986.index
/.metadata/.plugins/org.eclipse.jdt.core/4238209716.index
/.metadata/.plugins/org.eclipse.jdt.core/4249315662.index
/.metadata/.plugins/org.eclipse.jdt.core/450555687.index
/.metadata/.plugins/org.eclipse.jdt.core/765977872.index
/.metadata/.plugins/org.eclipse.jdt.core/770573466.index
/.metadata/.plugins/org.eclipse.jdt.core/84777399.index
/.metadata/.plugins/org.eclipse.ui.ide/