/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/.indexes/e4/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/CitationsToHTML/org.eclipse.jdt.core/
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.resources/.snap
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
/.metadata/.plugins/org.eclipse.jdt.core/1044273339.index
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.team.cvs.core/.running
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/.DS_Store
/.metadata/.log
/.metadata/.plugins/org.eclipse.core.resources/.history/2e/
/.metadata/.plugins/org.eclipse.core.resources/.history/56/
/.metadata/.plugins/org.eclipse.core.resources/.history/6/
/.metadata/.plugins/org.eclipse.core.resources/.history/78/
/.metadata/.plugins/org.eclipse.core.resources/.history/f1/
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload1.csv
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/CitationsToHTML/.DS_Store
/.metadata/.plugins/org.eclipse.core.resources/.history/38/401320c752ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/af/703803d552ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/c2/d0b101d552ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.history/d8/403befd452ac00121c98899d0f1874fe
/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
/demo-style.css
/dummy-images/
/old