* {
	padding: 0;
	min-height: 0;
	outline: none;
	font-weight: 300;

}

a {
	text-decoration: none;
}

html {
	height:100%;
}
body {
	background-color:#333;
	background-attachment: fixed;
	background-size: cover;
	height:100%;
	width: 1000px;
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	margin-bottom:0;
	opacity: .96;

}

#main {

	background-color: #eee;
	width: inherit;
	clear: both;
	float: left;
	

}

#header {
	/*position:fixed;*/
	width: inherit;
	height: 110px;
	background: #eee;
	z-index: 999;
	border-top-left-radius:10px;
	border-top-right-radius: 10px;

}
#header_logo {
	width: 700px;
	height: 110px;
	display: block;
	float: left;
	padding-left: 15px;

}

#group_name {
	font-size: 36px;
	line-height: 0px;

}

#group_name_details1, #group_name_details2 {
	font-size: 20px;
	line-height: 2px;
}

#access {
	display: block;
	background: #56A0D3;
	height: 40px;
	float: left;
	width: 1000px;
}
#access.fixed {
	position: fixed;
	top: 0;
	z-index: 999;
}
.menu-main_nav-container {
	width: 800px;
}

.menu-item {
	float: left;
	position: relative;
}

#access a {
	display: block;
	line-height: 2em;
	padding: 0 1em;
	color: #333;
}

#menu-main_nav {
	font-size: 16px;
	margin: 0px;
	font-weight: normal;
	list-style: none;
}

#menu-main_nav a {
	padding: 4px 16px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

#div-sub_nav {
	display: none;
	left: -15px;
	position: absolute;
	margin: 30px 0px 5px 15px;
	top: 10px;
}
#div-sub_nav ul {
	display: block;
	float: left;
	list-style: none;
	position: relative;
	width: 140px;
	z-index: 99999;
	background: #dedede
}

#div-sub_nav ul li a {
	text-align: left;
	text-transform: none;
	line-height: 1em;
	font-weight: 300;
	font-size: 16px;
}

#div-sub_nav table {
	position: }

	.menu-item:hover > a,
	#div-sub_nav ul:hover > a {
	background: #dedede;
}
#div-sub_nav ul a:hover {
	background: #cecece;
}
#access ul li:hover > ul {
	display: block;
	background: #dedede;
	
}

/******* Body *****/

.column {
	/*border:1px solid #222;*/
}

#right_main {
	width:248px;
	float:right;

}
#left_main{
	width:748px;
	
}

#join.fixed {
	position: fixed;
	top: 160px;
}
.stuff {
	padding: 8px 16px;
	font-size: 16px;
	font-weight: normal;
}

.stuff a {
	color: #333;
}

.stuff a:hover {
	color: #888;
}

.news_block, .research_block{
	margin-top:10px;
	margin-bottom:20px;
	overflow:hidden;
}

.research_block {

}

.research_block_imgs{

}

.research_block_words {
	
}
.news_block_imgs, .research_block_imgs{
	float:right;
	margin-top:25px;
}

.news_block_words, .research_block_words{
	width:400px;
	float:left;
}

.stuff_title{
	border-bottom:1px solid #222;
	padding-bottom:0px;
	height:36px;
}

.clear { clear: both; }

#papers ul{
	list-style:none;
}
#papers li{
	margin-bottom:10px;
}

/******* Footer *******/
footer {
	width: 980px;
	height: 100px;
	overflow: hidden;
	background-color: #eee;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-left:10px;
	padding-right:10px;
}

footer a {
	color: #333;
}

footer a:hover {
	color: #888;
}

#footer-bar {
	border-bottom: solid 2px #555;
	width: 980px;
	height: 10px;
}
#footer-id {
	margin-top: 5px;
	height: 100px;
	float: left;
	width: 400px;
}
#footer-nav {
	margin-top: 5px;
	height: 100px;
	float: left;
	margin-left: 150px;
}

