* {
	padding: 0;
	min-height: 0;
	outline: none;
	font-weight: 300;

}

a {
	text-decoration: none;
	color:#333;
}

html {
	height:100%;

}
body {
	/*background-image: url("./binding_dark/binding_dark.png");*/
	background-image: url("./wild_oliva/wild_oliva.png");
	/*background-color:#111;*/
	/*background-attachment: fixed;*/
	/*background-size: cover;*/
	background-position: left top;
	height:100%;
	width: 1000px;
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	margin-bottom:0;
	opacity: 1;

}

#main {

	background-color: #fff;
	/*background-image: url("./satinweave/satinweave.png");/*
	/*background-color:#111;*/
	background-attachment: fixed;
	/*background-size: cover;*/
	background-position: left top;
	width: inherit;
	clear: both;
	float: left;
	min-height: 60%;
	

}

#header {
	/*position:fixed;*/
	width: inherit;
	height: 150px;
	background: #fff;
	z-index: 999;
	border-top-left-radius:10px;
	border-top-right-radius: 10px;

}
#header_logo {
	width: 700px;
	height: 110px;
	display: block;
	float: left;
	padding-left: 15px;

}

#group_name {
	font-size: 36px;
	line-height: 0px;

}

#group_name :hover{
	color:#888;
}

#group_name_details1, #group_name_details2 {
	font-size: 20px;
	line-height: 2px;
}

.access {
	display: block;
	background: #56A0D3;
	height: 40px;
	float: left;
	width: 1000px;
	opacity:0.95;
}
.access.fixed {
	position: fixed;
	top: 0;
	z-index: 999;
}
.menu-main_nav-container {
	width: 800px;
}

.menu-item {
	float: left;
	position: relative;
}

.access a {
	display: block;
	line-height: 2em;
	padding: 0 1em;
	color: #333;
}

.menu-main_nav {
	font-size: 16px;
	margin: 0px;
	font-weight: normal;
	list-style: none;
}

.menu-main_nav a {
	padding: 4px 16px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

.div-sub_nav {
	display: none;
	left: -15px;
	position: absolute;
	margin: 30px 0px 5px 15px;
	top: 10px;
}
.div-sub_nav ul {
	display: block;
	float: left;
	list-style: none;
	position: relative;
	width: 140px;
	z-index: 99999;
	background: #dedede;
}

.sub_menu-item a {
	text-align: left;
	text-transform: none;
	line-height: 1em;
	font-weight: 300;
	font-size: 16px;
}

.div-sub_nav table {
	width:100%;
	border:0;
	cellspacing:0;
	cellpadding:0;
	padding:0px;
	margin:0px;
	border-spacing:0;
}

	.menu-item:hover > a,
	.div-sub_nav ul:hover > a {
	
	border-bottom: 4px solid #2370A0;
	padding-bottom:0px;

}
.selected_tab{
	background:#dedede;
}
.div-sub_nav ul a:hover {
	background: #cecece;
}
.access ul li:hover > div {
	display: block;
	background: #dedede;
	
}

/******* Body *****/

.column {
	/*border:1px solid #222;*/
}

#right_main {
	/*width:248px;*/
	width:148px;
	float:right;

}
#left_main{
	/*width:748px;*/
	width:848px;
	
}

#join.fixed {
	position: fixed;
	top: 160px;
}
.stuff {
	padding: 8px 16px;
	font-size: 16px;
	font-weight: normal;
}

.stuff a {
	color: #333;
}

.stuff a:hover {
	color: #888;
}


/*#test{
	height:100px;
}
#test:hover{
	height:600px;
}*/
.research_block,
.bio_block,
.news_block,
.generic_block{
	padding-top:18px;
	margin-bottom:20px;
	overflow:hidden;
}

.research_block_imgs img{
	margin-right:10px;
}

.research_block_words{
	width:inherit;
	margin-bottom:10px;
}

.news_block_imgs,
.bio_block_img{
	float:right;
	margin-top:25px;
}

.news_block_words,
.bio_block_words,
.generic_block_words{
	width:500px;
	float:left;
}

.news_title{
	margin-bottom:0;
}
.news_date{
	margin-top:0;
	margin-bottom:0;
}

.caption{
	margin-top:0;
	margin-left:14px;
}

.stuff_title{
	border-bottom:1px solid #222;
	padding-bottom:0px;
	height:36px;
}

.clear { clear: both; }

#papers ul{
	list-style:none;
}
#papers li{
	margin-bottom:10px;
}

#CV{
	float:right;
	width:300px;
}
.Alumni_thesis{
	float:left;
	width:300px;
	/*position:relative;
	top:-50px;*/
}
.bio_contact{
	width:400px;
	float:left;
}
.citation a,
.contact-CV_container a,
.credits_block a,
.research_block a{
	color: -webkit-link;
}

/******* Footer *******/
footer {
	width: 980px;
	height: 100px;
	overflow: hidden;
	background-color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-left:10px;
	padding-right:10px;
	font-size: 14px;
}

footer a {
	color: #333;
}

footer a:hover {
	color: #888;
}

#footer-bar {
	border-bottom: solid 2px #555;
	width: 980px;
	height: 10px;
}
#footer-id {
	margin-top: 5px;
	height: 100px;
	float: left;
	width: 400px;
}
#footer-nav {
	margin-top: 5px;
	height: 100px;
	float: left;
	margin-left: 150px;
}

/******** Directions page *****/
 
 .directions{
 	width:450px;
 }
 .directions ol{
 	margin-left:22px;

 }

 #directions_map{
 	margin-top:20px;
 	float:right;
 }
